@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#products-table table, 
	#products-table thead, 
	#products-table tbody, 
	#products-table th, 
	#products-table td, 
	#products-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#products-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#products-table tr { border: 1px solid #ccc; }
 
	#products-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#products-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#products-table td:before { content: attr(data-title); }
}