<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Ember Rails</span>
    </div>
  </div>
</nav>

<div class="container-fluid pt-3">
  {{outlet}}
</div>