<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label for="nameFilter" class="input-group-text">Search</label>
  </div>
  {{input 
    key-up=(action "filterNameContains")
    class="form-control"
    id="nameFilter"
    placeholder="Product Name"
  }}
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="departmentFilter">Filter by Department</label>
    {{#power-select
      selected=department
      options=model.departments
      searchField="name"
      onchange=(action "filterDepartment")
      allowClear=true
      placeholder="Department"
      triggerId="departmentFilter"
    as |department|
    }}
      {{department.name}}
    {{/power-select}}
  </div>
  <div class="form-group col-md-6">
    <label for="promotionFilter">Filter by Promotion</label>
    {{#power-select
      selected=promotion
      options=model.promotions
      searchField="promotion_code"
      onchange=(action "filterPromotion")
      allowClear=true
      placeholder="Promotion"
      triggerId="promotionFilter"
    as |promotion|
    }}
      {{promotion.promotion_code}}
    {{/power-select}}
  </div>
</div>

<div class="table-responsive">
  <table id="products-table" class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Price</th>
        <th scope="col">Current Promo</th>
        <th scope="col">Discounted Price</th>
      </tr>
    </thead>

    <tbody>
      {{#each model.products key="id" as |product|}}
        <tr>
          <td data-title="Name">{{product.name}}</td>
          <td data-title="Department">{{product.department.name}}</td>
          <td data-title="Price">{{format-currency product.price}}</td>
          <td data-title="Current Promo">{{product.promotion_code }}</td>
          <td data-title="Discounted Price">{{format-currency product.discounted_price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{pagination-component
  recordCount=model.products.meta.count
  pageSize=per_page
  pageNumber=model.products.meta.current_page
  onPageSelect=(action "setPage")
}}

<div class="card text-center">
  <div class="card-footer">
    Viewing {{model.products.meta.view_start_amount}} - {{model.products.meta.view_end_amount}} of {{model.products.meta.count}}
  </div>
</div>