{{#if displayPaginator}}
  <nav aria-label="Page navigation" data-test-selector="page-navigation">
    <ul class="pagination flex-wrap justify-content-center">

      <li class="page-item {{if isPrevDisabled "disabled"}}"
        {{action "getPage" 1}} data-test-selector="first-page"
      >
          <a class="page-link" href="#" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
            <span class="sr-only">First</span>
          </a>
      </li>
      <li class="page-item {{if isPrevDisabled "disabled"}}"
        {{action "getPage" prevPageNumber}} data-test-selector="previous-page"
      >
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
      </li>
    
      {{#each pages as |page|}}
        <li class="page-item page-number{{if page.active " active"}}"
          {{action "getPage" page.number}} data-test-selector="page-number"
        >
          <a class="page-link" href="#">
            {{page.number}}
            {{#if page.active}}
              <span class="sr-only">(current)</span>
            {{/if}}
          </a>
        </li>
      {{/each}}
    
      <li class="page-item {{if isNextDisabled "disabled"}}" 
        {{action "getPage" nextPageNumber}} data-test-selector="next-page"
      >
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item {{if isNextDisabled "disabled"}}" 
        {{action "getPage" totalPages}} data-test-selector="last-page"
      >
        <a class="page-link" href="#" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
    </ul>
  </nav>
{{/if}}